@import 'adjustments/vars';
@import 'layout/smart-grid';
@import 'adjustments/base';
@import 'commons/header';
@import 'commons/main-content';
@import 'commons/challenge1';
@import 'commons/challenge2';
@import 'commons/challenge3';
@import 'commons/challenge4';
html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, Helvetica, serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

.container {
    @include wrapper();
}

body {
    width: 100%;
    height: 100%;
    background: url('/img/bg-ocean.jpg');
}


