.challenge__1 {
    background: linear-gradient(to top right, #43389F 0, #4ec6ca 100%);;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        
        &:after,
        &::before {
            width: 0px;
            @include xs(width, 15px);
            @include xs(margin-right, 10px);
            @include xs(margin-left, 10px);
        }
    }
}