.wrap__4 {
    background-color: #FFA092;
}

.challenge__4 {
    .btn {
        border: none;
        text-shadow: 0px 3px 4px #000;
        cursor: default;
        color: #E8D579;
        transition: opacity 1.5s, color 1.5s, transform 1.5s;
        transform-origin: 50% 50%;
    }
    .center {
        perspective: 450px;
    }
    .frame.no-animation {
        .round__big,
        .round__medium,
        .round__small {
            animation: none !important;
        }
    }
    .frame {
        background: #9979E8;
        perspective: 300px;
        &:hover {
            .btn {
                color: #9979E8;
                opacity: 0;
                -o-transform: translate3d(20px, 30px, 40px);
                -ms-transform: translate3d(20px, 30px, 40px);
                -moz-transform: translate3d(20px, 30px, 40px);
                -webkit-transform: translate3d(20px, 30px, 40px);
                transform: translate3d(0px, 0px, -160px) rotatex(660deg);
                ;
                transform-style: preserve-3d;
            }
        }
    }
    .round__big,
    .round__medium,
    .round__small {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0px) scale(0);
        width: 40px;
        height: 40px;
        background-color: yellow;
        border-radius: 50%;
    }
    .round__big {
        width: 70px;
        height: 70px;
        animation: 6s challeng4-big linear infinite 1s;
        background-color: white;
        z-index: 1;
    }
    .round__medium {
        width: 30px;
        height: 30px;
        background-color: white;
        z-index: 0;
        animation: 6s challeng4-med linear infinite 1s;
    }
    .round__small {
        width: 10px;
        height: 10px;
        background-color: white;
        z-index: 0;
        animation: 6s challeng4-small linear infinite 1s;
    }
}

@keyframes challeng4-big {
    0% {
        transform: translate3d(-50%, -50%, 0px) scale(0);
        opacity: 0.5;
        box-shadow: 1px 1px 1px 1px rgba(#000, 0.2), 0px 0px 3px 1px rgba(#000, 0.1);
    }
    15% {
        transform: translate3d(-50%, -50%, 100px) scale(1);
        opacity: 1;
        box-shadow: 3px 3px 1px 1px rgba(#000, 0.2), 0px 0px 2px 1px rgba(#000, 0.2);
        z-index: 0;
    }
    30% {
        transform: translate3d(-50%, -50%, 100px) scale(1);
        box-shadow: 5px 5px 1px 1px rgba(#000, 0.3), 0px 0px 3px 1px rgba(#000, 0.3);
    }
    45% {
        transform: translate3d(-50%, -50%, 100px) scale(1);
        box-shadow: 3px 3px 1px 1px rgba(#000, 0.3), 0px 0px 3px 1px rgba(#000, 0.3);
    }
    55% {
        transform: translate3d(-50%, -50%, 100px) scale(1);
        box-shadow: 1px 1px 1px 1px rgba(#000, 0.1), 1px 1px 0px 1px rgba(#000, 0.3);

    }
    58% {
        transform: translate3d(-50%, -50%, 100px) scale(1);
        z-index: 0;
    }
    70%,
    100% {
        transform: translate3d(-50%, -50%, 0px) scale(0);
        z-index: 4;
    }
}

@keyframes challeng4-med {
    0% {
        transform: translate3d(-50%, -50%, 0px) scale(0);
        opacity: 0.5;
        box-shadow: 0px 0px 0px 0px rgba(#000, 0.1), 0px 0px 1px 1px rgba(#000, 0);
    }
    10% {
        transform: translate3d(-50%, -50%, 100px) scale(0);
        opacity: 1;
    }
    10% {
        transform: translate3d(-50%, -50%, 100px) scale(0);
        opacity: 1;
    }
    22% {
        transform: translate3d(-50%, -50%, 180px) scale(1);
        z-index: 3;
        opacity: 1;
        box-shadow: 0px 0px 1px 1px rgba(#000, 0.2), 0px 0px 1px 1px rgba(#000, 0.1);
    }
    30% {
        box-shadow: 3px 3px 1px 1px rgba(#000, 0.4), 0px 0px 1px 1px rgba(#000, 0.1);
    }
    45% {
        box-shadow: 3px 3px 1px 1px rgba(#000, 0.2), 0px 0px 1px 1px rgba(#000, 0.1);
    }
    50% {
        transform: translate3d(-50%, -50%, 180px) scale(1);
        box-shadow: 1px 1px 1px 1px rgba(#000, 0.2), 0px 0px 1px 1px rgba(#000, 0.1);
    }
    63% {
        transform: translate3d(-50%, -50%, 0px) scale(0);
        opacity: 1;
    }
    76% {
        opacity: 0;
    }
    90% {
        transform: translate3d(-50%, -50%, 0px) scale(0);
        opacity: 0.5;
        box-shadow: 3px 3px 1px 1px rgba(#000, 0.1), 0px 0px 1px 1px rgba(#000, 0.1);
        ;
    }
    100% {
        transform: translate3d(-50%, -50%, 0px) scale(0);
        z-index: 0;
    }
}

@keyframes challeng4-small {
    0% {
        transform: translate3d(-50%, -50%, 0px) scale(0);
    }
    15% {
        transform: translate3d(-50%, -50%, 100px) scale(0);
        opacity: 0.8;
        z-index: 1;
    }
    25% {
        transform: translate3d(-50%, -50%, 230px) scale(1);
        box-shadow: 0px 0px 0px 0px rgba(#000, 0.3), 0.5px 0.5px 1px 1px rgba(#000, 0.1);
        opacity: 1;
        z-index: 4;
    }
    40% {
        transform: translate3d(-50%, -50%, 230px) scale(1);
        z-index: 3;
        box-shadow: 1px 1px 1px 1px rgba(#000, 0.3), 0px 0px 1px 1px rgba(#000, 0.1);
    }
    45% {
        transform: translate3d(-50%, -50%, 180px) scale(1);
        z-index: 3;
    }
    55% {
        transform: translate3d(-50%, -50%, 180px) scale(0);
        z-index: 0;
        opacity: 0;
    }
    90% {
        transform: translate3d(-50%, -50%, 100px) scale(0);
    }
    100% {
        transform: translate3d(-50%, -50%, 0px) scale(0);
    }
}