header {
  background: linear-gradient(to top right, #43389F 0, #4ec6ca 100%);
}

.logo {
  width: 700px;
  margin: 0 auto;
  position: relative;
  display: flex;
  overflow: hidden;
  height: 270px;
  color: #fff;
}

.logo::after,
.logo::before {
  content: '';
  flex-grow: 1;
  width: 200px;
  position: absolute;
  height: 10px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  top: 50%;
  margin-top: -8px;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}

.logo .center {
  margin: auto;
}

.logo::after {
  right: 0;
}

.logo .logo__numbers {
  position: relative;
  height: 100px;
  width: 211px;
}

.logo .one-one,
.logo .one-two,
.logo .zero-one,
.logo .zero-two {
  position: absolute;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}

.logo .one-one {
  z-index: 1;
  left: -16px;
  height: 40px;
  width: 20px;
  transform: rotate(50deg);
}

.logo .one-two {
  z-index: 3;
  height: 100%;
  width: 24px;
  top: 0;
}

.logo .zero-one,
.logo .zero-two {
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 24px solid currentColor;
  background-color: transparent;
}

.logo .zero-one {
  z-index: 2;
  left: 20px;
}

.logo .zero-two {
  z-index: 1;
  left: 110px;
}

.logo .logo__text-big {
  font-size: 81px;
  line-height: 76px;
  font-weight: 700;
  margin-left: -6px;
}

.logo .logo__text-small {
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  margin-left: -4px;
  text-transform: uppercase;
}

.challenges__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 100px;
}

.challenges__items {
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(50% - 30px);
  height: 500px;
  background-color: #000;
  margin: 15px;
  position: relative;
  z-index: 10;
  margin-bottom: 50px;
}

.challenges__items .tooltip {
  color: #fff;
  text-align: center;
  padding-top: 5px;
  position: absolute;
  z-index: 0;
  top: -30px;
  height: 80px;
  width: 60px;
  background-color: #4a5cb0;
  left: 50%;
  margin-left: -20px;
  border-radius: 50px;
  box-shadow: 0 0 13px 0 rgba(255, 255, 255, 0.2);
  transition: transform 0.4s ease;
}

.challenges__items .tooltip:hover {
  transform: translateY(-10px);
}

.challenge__wrap {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 100;
  background-color: #7381c4;
}

.challenge {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 40px;
  background-color: #fff;
}

.challenge__1 .logo {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, #43389F 0, #4ec6ca 100%);
}

.challenge__1 .logo:after,
.challenge__1 .logo::before {
  width: 70px;
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, Helvetica, serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1090px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

body {
  width: 100%;
  height: 100%;
  background: url("/img/bg-ocean.jpg");
}

@media screen and (max-width: 1070px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}