header {
  background: linear-gradient(to top right, #43389F 0, #4ec6ca 100%);
}

.logo {
  width: 700px;
  margin: 0 auto;
  position: relative;
  display: flex;
  overflow: hidden;
  height: 270px;
  color: #fff;
}

.logo::after,
.logo::before {
  content: '';
  flex-grow: 1;
  width: 200px;
  position: absolute;
  height: 10px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  top: 50%;
  margin-top: -8px;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
}

.logo .center {
  margin: auto;
}

.logo::after {
  right: 0;
}

.logo .logo__numbers {
  position: relative;
  height: 100px;
  width: 211px;
}

.logo .one-one,
.logo .one-two,
.logo .zero-one,
.logo .zero-two {
  position: absolute;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
}

.logo .one-one {
  z-index: 1;
  left: -16px;
  height: 40px;
  width: 20px;
  transform: rotate(50deg);
}

.logo .one-two {
  z-index: 3;
  height: 100%;
  width: 24px;
  top: 0;
}

.logo .zero-one,
.logo .zero-two {
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 24px solid currentColor;
  background-color: transparent;
}

.logo .zero-one {
  z-index: 2;
  left: 20px;
}

.logo .zero-two {
  z-index: 1;
  left: 110px;
}

.logo .logo__text-big {
  font-size: 81px;
  line-height: 76px;
  font-weight: 700;
  margin-left: -6px;
}

.logo .logo__text-small {
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  margin-left: -4px;
  text-transform: uppercase;
}

.challenges__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
  margin-top: 100px;
}

.challenges__items {
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(50% - 30px);
  flex-basis: 500px;
  min-width: 500px;
  height: 500px;
  background-color: #000;
  margin: 15px;
  position: relative;
  z-index: 10;
  margin-bottom: 50px;
}

.challenges__items .tooltip {
  color: #fff;
  text-align: center;
  padding-top: 5px;
  position: absolute;
  z-index: 0;
  top: -30px;
  height: 80px;
  width: 60px;
  background-color: #4a5cb0;
  left: 50%;
  margin-left: -30px;
  border-radius: 50px;
  box-shadow: 0 0 13px 0 rgba(255, 255, 255, 0.2);
  transition: transform 0.4s ease;
}

.challenges__items .tooltip:hover {
  transform: translateY(-10px);
}

.challenge__wrap {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 100;
  background-color: #7381c4;
}

.challenge {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 40px;
  background-color: #fff;
}

.challenge .frame {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: transparent;
  border-radius: 2px;
}

.challenge .center {
  position: absolute;
}

.challenge .btn {
  position: absolute;
  z-index: 1000;
  font-size: 30px;
  min-width: 60px;
  cursor: pointer;
  min-height: 60px;
  border-radius: 50%;
  border: 2px solid black;
  background: transparent;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
}

.no-animation {
  animation: none !important;
}

.challenge__1 {
  background: linear-gradient(to top right, #43389F 0, #4ec6ca 100%);
}

.challenge__1 .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.challenge__1 .logo:after,
.challenge__1 .logo::before {
  width: 0px;
}

.challenge__2 {
  background: #3FAF82;
}

.challenge__2 .burger__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -30px;
  width: 100px;
  height: 60px;
  cursor: pointer;
}

.challenge__2 .burger__wrap::before,
.challenge__2 .burger__wrap::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 8px;
  background-color: #fff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px/3px;
  transform-origin: center;
}

.challenge__2 .burger__wrap::after {
  bottom: 0;
  animation: burgerBackBottomLine 2s ease-in-out forwards;
}

.challenge__2 .burger__wrap::before {
  top: 0;
  animation: burgerBackTopLine 2s ease-in-out forwards;
}

.challenge__2 .burger {
  position: absolute;
  top: 50%;
  margin-top: -4px;
  width: 100%;
  height: 8px;
  background-color: #fff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px/3px;
  animation: burgerBack 2s ease-in-out forwards;
}

.challenge__2 .burger__wrap.no-animation:before,
.challenge__2 .burger__wrap.no-animation:after {
  animation: none !important;
}

.challenge__2 .burger__wrap.no-animation .burger {
  animation: none !important;
}

.challenge__2 .burger__wrap.active .burger {
  animation: burger 2s ease-in-out forwards;
}

.challenge__2 .burger__wrap.active::before {
  animation: burgerTopLine 2s ease-in-out forwards;
}

.challenge__2 .burger__wrap.active::after {
  animation: burgerBottomLine 2s ease-in-out forwards;
}

@keyframes burger {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 0, 0) scale(0);
    opacity: 0;
  }
}

@keyframes burgerBack {
  0% {
    transform: translate3d(0, 0, 0) scale(0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes burgerTopLine {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }

  50% {
    transform: translate3d(0, 26px, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, 26px, 0) rotate(135deg);
  }
}

@keyframes burgerBackTopLine {
  0% {
    transform: translate3d(0, 26px, 0) rotate(135deg);
  }

  50% {
    transform: translate3d(0, 26px, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@keyframes burgerBottomLine {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }

  50% {
    transform: translate3d(0, -26px, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, -26px, 0) rotate(-135deg);
  }
}

@keyframes burgerBackBottomLine {
  0% {
    transform: translate3d(0, -26px, 0) rotate(-135deg);
  }

  50% {
    transform: translate3d(0, -26px, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

.challenge__3 .frame {
  background-color: #FE8989;
}

.challenge__3 .center {
  position: absolute;
}

.challenge__3 .btn.active {
  transform: scale(1);
}

.challenge__3 .btn {
  font-size: 38px;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  background: #fff;
  box-shadow: 0 0 5px 3px black;
  transition: 0.3s color, 0.5s transform, box-shadow 1s;
  transform: scale(0);
  transform-origin: 50%;
}

.challenge__3 .btn:hover {
  color: green;
  box-shadow: 0 0 5px 3px black;
}

.challenge__3 .circle {
  position: relative;
  overflow: hidden;
  width: 180px;
  height: 180px;
  clip-path: circle(0px at 90px 90px);
  animation: start 2s ease-in-out forwards;
}

.challenge__3 .ground {
  bottom: 0;
  background: #F0DE75;
  height: 60px;
  left: 0;
  right: 0;
  z-index: 2;
  animation: ground 15s linear infinite;
}

.challenge__3 .circle > * {
  position: absolute;
}

.challenge__3 .shadow {
  bottom: 0px;
  height: 60px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 3;
  clip-path: polygon(40px 0, 154px 0, 100% 0);
  animation: shadow 15s linear infinite;
}

.challenge__3 .sky {
  top: 0;
  background: #7DDFFC;
  height: 120px;
  left: 0;
  right: 0;
  z-index: 3;
  animation: darknes 15s linear infinite;
}

.challenge__3 .piramida_left {
  top: 0;
  background: #F4F4F4;
  height: 121px;
  left: 20px;
  width: 86px;
  clip-path: polygon(80% 50%, 100% 100%, 20% 100%);
  z-index: 3;
  animation: piramidaLeft  15s linear infinite;
}

.challenge__3 .piramida_right {
  top: 0;
  background: #DDDADA;
  height: 121px;
  right: 26px;
  width: 81px;
  clip-path: polygon(19% 50%, 100% 100%, 40% 100%);
  z-index: 3;
  animation: piramidaRight  15s linear infinite;
}

.challenge__3 .stars {
  top: 0;
  height: 80px;
  right: 0;
  left: 0;
  z-index: 4;
}

.challenge__3 .stars .star {
  position: absolute;
  z-index: 5;
  top: 20px;
  left: 50px;
  width: 6px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 3px #000;
  animation: stars 15s linear infinite;
}

.challenge__3 .stars .star::before {
  position: absolute;
  top: -2px;
  left: 2px;
  content: '';
  display: block;
  width: 2px;
  height: 6px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 3px #000;
}

.challenge__3 .stars .star-1 {
  top: 20px;
  left: 50px;
  animation: rotate 15s linear infinite, stars 15s linear infinite;
}

.challenge__3 .stars .star-2 {
  top: 30px;
  left: 113px;
  animation: stars 15s linear infinite;
}

.challenge__3 .stars .star-3 {
  top: 48px;
  left: 66px;
  animation: rotate 15s linear infinite 1s, stars 15s linear infinite;
}

.challenge__3 .stars .star-4 {
  top: 80px;
  left: 30px;
  animation: stars 15s linear infinite;
}

.challenge__3 .stars .star-5 {
  top: 70px;
  left: 160px;
  animation: rotate 15s linear infinite 3s, stars 15s linear infinite;
}

.challenge__3 .sun {
  z-index: 10;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: yellow;
  bottom: 71%;
  left: 75%;
  animation: sunGo 15s linear infinite;
  transform-origin: -100% 400%;
}

.challenge__3 .no-animation {
  animation-play-state: paused;
}

.challenge__3 .no-animation > *,
.challenge__3 .no-animation .star,
.challenge__3 .no-animation .star > * {
  animation-play-state: paused;
}

@keyframes sunGo {
  0% {
    transform: rotate(-90deg);
    background: #FFEF00;
  }

  10% {
    transform: rotate(-90deg);
    background: #FFEF00;
  }

  14% {
    transform: rotate(-50deg);
    background: #FFEF00;
  }

  20% {
    transform: rotate(-40deg);
    background: #FFEF00;
  }

  80% {
    transform: rotate(270deg);
    background: #F57209;
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes darknes {
  0% {
    background: #5899ac;
  }

  9% {
    background: #5899ac;
  }

  15%, 30% {
    background: #7DDFFC;
  }

  50%, 80% {
    background: black;
  }

  100% {
    background: #5899ac;
  }
}

@keyframes ground {
  0% {
    background: #201c04;
  }

  25% {
    background: #F0DE75;
  }

  50%, 100% {
    background: #201c04;
  }
}

@keyframes piramidaLeft {
  0% {
    background: #757575;
  }

  50% {
    background: #757575;
  }

  73% {
    background: #c1c1c1;
  }

  100% {
    background: #757575;
  }
}

@keyframes piramidaRight {
  0% {
    background: #272C34;
  }

  70% {
    background: #DDDADA;
  }

  73% {
    background: #DDDADA;
  }

  85% {
    background: #272C34;
  }

  100% {
    background: #272C34;
  }
}

@keyframes stars {
  0% {
    opacity: 0.1;
  }

  10%, 25% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  65%, 67%, 69%, 71%, 73% {
    opacity: 1;
  }

  66%, 68%, 70%, 72%, 85% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes shadow {
  0%, 6% {
    clip-path: polygon(40px 0, 154px 0, 100% 0);
  }

  14% {
    clip-path: polygon(40px 0, 154px 0, 100% 30%);
    background: rgba(0, 0, 0, 0.2);
  }

  20% {
    clip-path: polygon(40px 0, 154px 0, 90% 30%);
  }

  30% {
    clip-path: polygon(40px 0, 154px 0, 0% 30%);
  }

  40% {
    clip-path: polygon(40px 0, 154px 0, 0% 0%);
  }

  50% {
    clip-path: polygon(40px 0, 154px 0, 0% 0%);
    background: rgba(0, 0, 0, 0.2);
  }

  75% {
    clip-path: polygon(40px 0, 154px 0, 0% 0%);
    background: rgba(0, 0, 0, 0.5);
  }

  85% {
    clip-path: polygon(40px 0, 154px 0, 0% 0%);
    background: rgba(0, 0, 0, 0.3);
  }

  100% {
    clip-path: polygon(40px 0, 154px 0, 0% 0%);
    background: #272C34;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  70%, 74%, 78%, 82% {
    transform: rotate(20deg);
  }

  72%, 76%, 80%, 84%, 100% {
    transform: rotate(0deg);
  }
}

@keyframes start {
  0% {
    clip-path: circle(0px at 90px 90px);
  }

  100% {
    clip-path: circle(90px at 90px 90px);
  }
}

.wrap__4 {
  background-color: #FFA092;
}

.challenge__4 .btn {
  border: none;
  text-shadow: 0px 3px 4px #000;
  cursor: default;
  color: #E8D579;
  transition: opacity 1.5s, color 1.5s, transform 1.5s;
  transform-origin: 50% 50%;
}

.challenge__4 .center {
  perspective: 450px;
}

.challenge__4 .frame.no-animation .round__big,
.challenge__4 .frame.no-animation .round__medium,
.challenge__4 .frame.no-animation .round__small {
  animation: none !important;
}

.challenge__4 .frame {
  background: #9979E8;
  perspective: 300px;
}

.challenge__4 .frame:hover .btn {
  color: #9979E8;
  opacity: 0;
  -o-transform: translate3d(20px, 30px, 40px);
  -ms-transform: translate3d(20px, 30px, 40px);
  -moz-transform: translate3d(20px, 30px, 40px);
  -webkit-transform: translate3d(20px, 30px, 40px);
  transform: translate3d(0px, 0px, -160px) rotatex(660deg);
  transform-style: preserve-3d;
}

.challenge__4 .round__big,
.challenge__4 .round__medium,
.challenge__4 .round__small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px) scale(0);
  width: 40px;
  height: 40px;
  background-color: yellow;
  border-radius: 50%;
}

.challenge__4 .round__big {
  width: 70px;
  height: 70px;
  animation: 6s challeng4-big linear infinite 1s;
  background-color: white;
  z-index: 1;
}

.challenge__4 .round__medium {
  width: 30px;
  height: 30px;
  background-color: white;
  z-index: 0;
  animation: 6s challeng4-med linear infinite 1s;
}

.challenge__4 .round__small {
  width: 10px;
  height: 10px;
  background-color: white;
  z-index: 0;
  animation: 6s challeng4-small linear infinite 1s;
}

@keyframes challeng4-big {
  0% {
    transform: translate3d(-50%, -50%, 0px) scale(0);
    opacity: 0.5;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  }

  15% {
    transform: translate3d(-50%, -50%, 100px) scale(1);
    opacity: 1;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 0;
  }

  30% {
    transform: translate3d(-50%, -50%, 100px) scale(1);
    box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.3), 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  }

  45% {
    transform: translate3d(-50%, -50%, 100px) scale(1);
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.3), 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  }

  55% {
    transform: translate3d(-50%, -50%, 100px) scale(1);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 0px 1px rgba(0, 0, 0, 0.3);
  }

  58% {
    transform: translate3d(-50%, -50%, 100px) scale(1);
    z-index: 0;
  }

  70%, 100% {
    transform: translate3d(-50%, -50%, 0px) scale(0);
    z-index: 4;
  }
}

@keyframes challeng4-med {
  0% {
    transform: translate3d(-50%, -50%, 0px) scale(0);
    opacity: 0.5;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 1px 1px transparent;
  }

  10% {
    transform: translate3d(-50%, -50%, 100px) scale(0);
    opacity: 1;
  }

  10% {
    transform: translate3d(-50%, -50%, 100px) scale(0);
    opacity: 1;
  }

  22% {
    transform: translate3d(-50%, -50%, 180px) scale(1);
    z-index: 3;
    opacity: 1;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  }

  30% {
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.4), 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  }

  45% {
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  }

  50% {
    transform: translate3d(-50%, -50%, 180px) scale(1);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  }

  63% {
    transform: translate3d(-50%, -50%, 0px) scale(0);
    opacity: 1;
  }

  76% {
    opacity: 0;
  }

  90% {
    transform: translate3d(-50%, -50%, 0px) scale(0);
    opacity: 0.5;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  }

  100% {
    transform: translate3d(-50%, -50%, 0px) scale(0);
    z-index: 0;
  }
}

@keyframes challeng4-small {
  0% {
    transform: translate3d(-50%, -50%, 0px) scale(0);
  }

  15% {
    transform: translate3d(-50%, -50%, 100px) scale(0);
    opacity: 0.8;
    z-index: 1;
  }

  25% {
    transform: translate3d(-50%, -50%, 230px) scale(1);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3), 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 1;
    z-index: 4;
  }

  40% {
    transform: translate3d(-50%, -50%, 230px) scale(1);
    z-index: 3;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3), 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  }

  45% {
    transform: translate3d(-50%, -50%, 180px) scale(1);
    z-index: 3;
  }

  55% {
    transform: translate3d(-50%, -50%, 180px) scale(0);
    z-index: 0;
    opacity: 0;
  }

  90% {
    transform: translate3d(-50%, -50%, 100px) scale(0);
  }

  100% {
    transform: translate3d(-50%, -50%, 0px) scale(0);
  }
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, Helvetica, serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1090px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

body {
  width: 100%;
  height: 100%;
  background: url("/img/bg-ocean.jpg");
}

@media screen and (max-width: 1070px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 780px) {
  .logo {
    width: 300px;
  }

  .logo::after,
  .logo::before {
    width: 10%;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 480px) {
  .challenges__items {
    width: 100%;
  }

  .challenges__items {
    min-width: 320px;
  }

  .challenges__items {
    height: 86vmin;
  }

  .challenge {
    margin: 15px;
  }

  .challenge__1 .logo:after,
  .challenge__1 .logo::before {
    width: 15px;
  }

  .challenge__1 .logo:after,
  .challenge__1 .logo::before {
    margin-right: 10px;
  }

  .challenge__1 .logo:after,
  .challenge__1 .logo::before {
    margin-left: 10px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}