li.challenges__items
    .tooltip 005
    .challenge__wrap
        .challenge.challenge__5
            .frame
                .center
                    .ball
                    each num in [1, 2, 3, 4, 5, 6, 7, 8]
                        div(class=`buble-${num}`) 
                    each num in [1, 2, 3, 4, 5, 6, 7, 8]
                        div(class=`sparkle-${num}`) 