li.challenges__items
          .tooltip 001
          .challenge__wrap
            .challenge.challenge__1
              .logo
                .center
                  .logo__numbers
                    .one-one
                    .one-two
                    .zero-one
                    .zero-two
                  .logo__text-big DAYS
                  .logo__text-small css challenge