li.challenges__items
    .tooltip 006
    .challenge__wrap
        .challenge.challenge__6
            .frame
                .slices
                    each num in [1, 2, 3, 4, 5, 6, 7, 8]
                        div(class=`slice slice-${num}`)
                    .text
                        h1 slice
                        h2 slice
                        h3 slice