li.challenges__items
    .tooltip 003
    .challenge__wrap
        .challenge.challenge__3
            .frame
                .btn.btn3.active ?
                .center
                    .circle.no-animation
                        .sun
                        .sky
                        .ground
                        .piramida_left
                        .piramida_right
                        .shadow
                        .stars
                            .star-1.star
                            .star-2.star
                            .star-3.star
                            .star-4.star
                            .star-5.star
                        .fall-star